profiling_reports/ftn_data.html
profiling_reports/injuries.html
profiling_reports/qbr.html
profiling_reports/seasonal_pfr.html
profiling_reports/spreadspoke_scores.html
profiling_reports/weekly_pfr.html
profiling_reports/weekly_rosters.html
